body {
  margin:50px;
  padding: 0;
  font-family: sans-serif;
  background-color: #ffffff;
    color: rgb(134, 14, 233);
}

.phototxt {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: rgb(255, 0, 0);
  width: fit-content;
  height: 150px;
    border-radius: 50px;
    margin: 0 left;
}
.bio {
  padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #fc1717;
    width: fit-content;
    height: 150px;
    border-radius: 50px;
    margin: 0 left;
    
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;

}
h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 1;
  text-align: right;
  color: rgb(65, 247, 10);
    background-color: rgb(204, 14, 14);
        padding: 10px;
        border-radius: 10px;
}
p {
  font-weight: 300;
  margin-top: 0px;
  text-align: left;
  color: rgb(38, 247, 10);
  background-color: rgb(231, 13, 13);
    padding: 10px;
    border-radius: 10px;
}

i {
    margin-top: 20px;
    margin-bottom: 10px auto;
  font-size: 1.5rem;
  margin-right: 10px;
  color: rgb(63, 196, 1);
}

/* on mobile reduce image size */
@media (max-width: 660px) {
  img {
    width: 100px;
    height: 100px;
  }
  .phototxt {
    height: 100px;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: 0.8rem;
  }
}
